---
jobs:
  setup:
    env:
      TS_HOST: 100.102.37.118
    name: Setup
    runs-on: ubuntu-24.04
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Create runner
        uses: ./
        with:
          gh-api-token: ${{ secrets.GH_API_TOKEN }}
          gha-runner-apt-mirror: https://au.archive.ubuntu.com/ubuntu/
          gha-runner-cpus: 2
          gha-runner-debug: enabled
          gha-runner-labels: runner
          gha-runner-mem: 1G
          gha-runner-tz: Australia/Brisbane
          ssh-host: ${{ env.TS_HOST }}
          ssh-user: matthew
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          ts-ping: ${{ env.TS_HOST }}
          ts-tag: ci
  runner:
    name: Runner
    runs-on: runner
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Tell the time
        run: |
          echo "Testing runner..."
          date
          echo "Test completed successfully!"
permissions:
  contents: read
name: Test
on:
  pull_request:
    branches:
      - main
    paths:
      - action.yaml
      - ".github/workflows/**.yaml"
