---
jobs:
  setup:
    env:
      TS_HOST: 100.102.37.118
    name: Setup (${{ matrix.arch }})
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Create runner
        uses: ./
        with:
          gh-api-token: ${{ secrets.GH_API_TOKEN }}
          gha-runner-apt-mirror: https://au.archive.ubuntu.com/ubuntu/
          gha-runner-arch: ${{ matrix.arch }}
          gha-runner-cpus: 2
          gha-runner-debug: enabled
          gha-runner-labels: runner-${{ github.event.number }}-${{ matrix.arch }}
          gha-runner-mem: 1G
          gha-runner-tz: Australia/Brisbane
          ssh-host: ${{ env.TS_HOST }}
          ssh-user: matthew
          ts-oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          ts-oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          ts-ping: ${{ env.TS_HOST }}
          ts-tag: ci
  runner:
    name: Runner (${{ matrix.arch }})
    needs: setup
    runs-on: runner-${{ github.event.number }}-${{ matrix.arch }}
    strategy:
      matrix:
        arch: [x64, arm64]
    steps:
      - name: Tell the time
        run: |
          echo "Testing runner..."
          date
          echo "Test completed successfully!"
name: Test
on:
  pull_request:
    branches:
      - main
permissions:
  contents: read
